body {
    padding: 2em;
    color: white;
}

#container {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

#container > * {
    padding: 5px;
}

.header {
    background: red;
}

.article {
    background: darkblue;
    text-align: center;
}

p,
.aside {
    margin: 0px;
}

.asideLeft {
    background: darkgreen;
}

.asideRight {
    background: pink;
}

.footer {
    background: purple;
}