.background{
    width: 600px;
    height: 475px;
    background-color: #213b50; 
}

* {
    color: white;
}


.ball{
    position: relative; left: 15px;
}

.ball2{
    background-color: #2b4a64;
    position: relative; left: 15px;
}

:focus{
background-color: #4e708c;
border-color: white;
}

.submit{
    width: 75px;
    height: 45px;
    background-color: green;
    font-weight: bolder;
}